<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto"> <!--esto lo centra-->
            <div class="card">
                <div class="card-body">
                    <form action="/almacenes/edit/{{almacen.cod}}" method="POST">
                        <div class="form-group">
                            <h5>Nombre</h5>
                            <input type="text" value = "{{almacen.name}} "  class="form-control" name="name" placeholder="Title" autofocus>
                        </div>
                        <div class="form-group">
                            <h5>Codigo</h5>
                            <input type="text" value = "{{almacen.cod}} "  class="form-control" name="codigo" placeholder="Title" autofocus>
                        </div>

                        <div class="form-group">
                        <h5>Dirección</h5>
                            <input type="text" value= "{{almacen.dir}} " class="form-control" name="dir" placeholder="Direccion" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
